form {
    border: 3px solid #f1f1f1;
  }
  /*NAVBAR */
.nav__container{
    height: 30%;
}

.bg-nav{
    background-color: #d9d9d9;
}

.nav__icon{
    width: 40%;
    margin-left: 10px;
}
.nav__title{
    width: 70%;
}
.img_login{
  width: auto;
  margin-right: 600px;
}
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    width: 400px;
    margin-left: 40%;
  } 
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  /* CSS Login with Admin*/
  .Login_withAd{
    text-decoration: none;
    color: black;
  }
    /* Change styles for span and cancel button on extra small screens */
    @media  screen and (max-width: 912px) {
      .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .img_login{
        margin: 0;
      }
    }
    @media (min-width: 280px) {
      .navbar-brand{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  /*ERROR_LOGIN */
  /*
  .${param.error}{
    padding: 25px;
    font-size: 30px;
    font-family: monospace;
    color: red;
  }
  */
  