* {box-sizing: border-box}
/*NAVBAR */
.nav__container{
  height: 30%;
}

.bg-nav{
  background-color: #d9d9d9;
}

.nav__icon{
  width: 40%;
  margin-left: 10px;
}

.nav__title{
  width: 70%;
}
/* Add padding to containers */
.container {
  padding: 16px;
}
.form-img{
  width: 400px;
  margin-right: 550px;
}
p{
    text-align: center;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #045aaa;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: rgb(230, 71, 39);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
/*Setup success page */
.nav__title_success{
  width: 300px;
  margin-right: 600px;
}
.notion_success{
  padding: 25px;
  font-size: 30px;
  font-style: italic;
  font-family: monospace;
}
@media  screen and (max-width: 912px) {
  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-img{
    margin: 0;
  }
}
@media (min-width: 280px) {
  .navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}